<h1>Product</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><a href="/products/{{product.id}}/edit/">Edit this product</a></td>
    </tr>
</table>
<form method="POST" action="/products/{{ product.id }}?_method=DELETE">
    <input type="submit" value="Delete this product">
</form>