<!-- views/pages/homepage.js -->
<h1>Hello MVC</h1>
<p>This is my first page</p>


<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Desc</th>
        <th>Created at</th>
        <th>Updated at</th>
    </tr>
    {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td><a href="products/{{this.id}}">{{this.name}}</a></td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>
            <td>{{this.created_at}}</td>
            <td>{{this.updated_at}}</td>
        </tr>
    {{/each}}
</table>
<br>
<a href="products/create">Add new product</a>

<br>
<br>

<a href="/about">Learn about us</a>